{erl_opts,[debug_info,
           {parse_transform, lager_transform},
           {src_dirs, ["src"]}
          ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [
	{lager, ".*", {git, "git@github.com:basho/lager.git", "master"}}
  ]}.
  
%%{post_hooks,[{compile, "./relx"}]}.

